#contribution{
text-indent:35px;
margin-top:10px;
}
#contribution h2{
color:#0b0;
}
#contribution .travelsList {
margin:10px 25px 0 0;
}
#contribution .travelsList li {
float:left;
line-height:1.2;
padding:0 0.5em;
display:inline;
border-left:1px solid #039;
}
#contribution.travelsList li.first-child {
border:0;
}
.travelsList {
clear:both;
}
.travelsList li {
height:121px;
width:1200px;
position:relative;
line-height:2;
padding:0 40px 0 160px;
margin-bottom:2px;
background:url(../images/List_bg.JPG) no-repeat;
}
.travelsList h3 a:hover {
color:#039;
}
.travelsList h3 a:visited {
color:#999;
}
.travelsList h3 strong {
color:#f60;
}
.travelsList h3 em {
font-style:normal;
color:#666;
}
.travelsList h4,
.travelsList h5 {
float:left;
font-size:0.9em;
font-weight:normal;
}
.travelsList h4 {
margin-right:3em;
}
.travelsList h4 a:link {
color:#F90;
}
.travelsList p {
clear:both;
line-height:1.7;
}
.travelsList .pic {
position:absolute;
top:5px;
left:14px;
}
.travelsList .pic a {
display:block;
background:#fff;
padding:5px;
}
.travelsList .pic a:hover {
background:#039;
}
.travelsList .pic a img{
width:128px;
height:88px;
vertical-align:top;
border:1px solid #fff;
}

